<%- include("partials/head") %>
<body>
    <%- include("partials/nav") %>
    <section class="border">
        <h1>Here are our register Homes</h1>
        <ul>
            <% registerHomes.forEach(home => { %>
                <li>
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.google.com/imgres?q=airbnb%20houses&imgurl=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fd6ce61b5-87e5-4f45-b54d-42f2f7ef9a55.jpg&imgrefurl=https%3A%2F%2Fwww.airbnb.com%2Fpune-india%2Fstays%2Fhouses&docid=xFmD5MFLJiih3M&tbnid=NDZVw418dQyYhM&vet=12ahUKEwjRh8fA4-GOAxWSyDgGHWT1IOoQM3oECBMQAA..i&w=1200&h=719&hcb=2&ved=2ahUKEwjRh8fA4-GOAxWSyDgGHWT1IOoQM3oECBMQAA'" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= home.houseName %></h5>
                            <p class="card-text"><%= home.location %></p>
                            <p class="card-text"><%= home.Price %></p>
                            <a href="#" class="btn btn-primary"><%= home.rating %></a>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
        <a href="/add-home" class="">Add Home</a>    
    </section>
</body>
</html> 